<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProductPriceListingGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <ProductPriceListingGenerator.Properties.Settings>
            <setting name="EXCEL_COLUMN_PRODUCT_NO" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="EXCEL_COLUMN_PRODUCT_NAME_EN" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="EXCEL_COLUMN_PRODUCT_NAME_KH" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="EXCEL_COLUMN_PRODUCT_UNIT_NAME" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="EXCEL_COLUMN_PRODUCT_SALE_PRICE" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="EXCEL_START" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EXCEL_END" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AUTO_PREVIEW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXCEL_COLUMN_CATEGORY_EN" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="EXCEL_COLUMN_CATEGORY_KH" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="CURRENCY_SYMBOL" serializeAs="String">
                <value>រ</value>
            </setting>
            <setting name="IMAGE_EXTENSION" serializeAs="String">
                <value>png</value>
            </setting>
        </ProductPriceListingGenerator.Properties.Settings>
    </userSettings>
</configuration>