<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ERPClientTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!-- Log4Net -->
  <log4net debug="true">
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %8rms [%-30.30M] - %m%n" />
      </layout>
    </appender>
    <appender name="MyFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\ERPClientTools.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="10" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="'.'HH'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %8rms [%-30.30M] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\backup\ERPClientTools.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="'.'yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %8rms [%-30.30M] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="MyFileAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <!-- End Log4Net -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ERPClientTools.Properties.Settings>
      <setting name="T24_WEBSERVICE_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="START_ROW_INDEX" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="WORKSHEET_INDEX" serializeAs="String">
        <value>1</value>
      </setting>
    </ERPClientTools.Properties.Settings>
  </userSettings>
</configuration>
